img {
    border : 2px solid grey;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    margin : 0;
}

.logo {
    width : 300px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color:#F9FAF8;
    padding: 8px;
    padding-left: 16px;
    font-weight: bold;
}

.headerLinks{
    display: flex;
    gap : 12px;
    align-items: center;
    padding-right: 120px;
    font-size: 24px;
    
}


a {
    color: #E5E7EB;
    text-decoration: none;
}



.hero-area{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding-bottom: 16px;
}

.intro{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width : 400px;
    height: 400px;
    padding-left: 100px;
    padding-bottom: 32px;
}

.placeholder{
    flex : 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-button{
    width : 120px;
    height: 40px;
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    border: none;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder-image{
    border : 2px solid grey;
    width : 400px;
    height: 200px;
    margin : 0px;

}

.info-image {
    width:200px;
    height: 150px;
    border: 2px solid #3882f6;
}



.information {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap : 32px;
}

.Random-info{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 16px;
}

.info-container{
    height : 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;   
}

.quote-div{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.quote-text{
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
}

.quote-author{
    font-weight: bold;
    font-size : 24px;
    align-self: flex-end;
}

.signup-section{
    display:flex;
    align-items: center;
    background-color: #3882f6;
    justify-content: center;
    width: 1000px;
    height : 150px;
    margin: 100px;

    border-radius: 2%;
    gap : 100px;

}

.signup-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-heading{
    font-size: x-large;
    font-weight: bold;
    margin: 0px;
    color: white;
}


.signup-text {
    font-size: large;
    color: #E5E7EB;
    margin: 0px;
}
.signup-button {
    color: white;
    font-size: large;
    background-color: #3882f6;
    padding: 8px 28px;

    font-weight: bold;
    border : 2px solid white;
    border-radius: 10%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 16px;
    padding-bottom: 16px;  
}