img {
    border : 2px solid grey;
}

body{
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    margin : 0;
}

.logo {
    width : 300px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color:#F9FAF8;
    padding : 8px;
    font-weight: bold;
}

.headerLinks{
    display: flex;
    gap : 8px;
    align-items: center;
}

.hero-area{
    display: flex;
    background-color: #1F2937;

}